/* styliser le corp de page*/
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(white,darkslategrey);
    font-family: 'Crimson Text', serif;
}
/* styliser l'entête */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}
header img {
    max-width: 100%;
    width: 200px;
    height: auto;
    float: left;
}
/* Styliser les textes */
h1 {
    text-align: center;
    padding: 2px;
}



/* Styliser les nav */
nav {
    position: absolute;
    top: 0;
    right: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}
/* Styliser le contenu */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

/* Centrez le formulaire de profil */
form {
    max-width: 600px;
    margin: 0 auto;
}

/* Styliser les étiquettes de champ */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Styliser les champs de formulaire */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Styliser le champ de téléchargement de fichier */
input[type="file"] {
    display: none;
}

.upload-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: blue;
}

.upload-label {
    font-size: 16px;
    margin-left: 10px;
}

/* Styliser le bouton Enregistrer */
button[type="submit"] {
    background-color: darkslategrey;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkolivegreen;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-buttons button {
    margin-left: 10px;
}
.btn-cancel {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkslategrey;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.btn-cancel:hover{
    background-color: darkolivegreen;
}
footer {
    padding: 100px;
    text-align: center;
}
