/* public/css/profile.css */

/* Centrez le formulaire de profil */
form {
    max-width: 600px;
    margin: 0 auto;
}

/* Styliser les étiquettes de champ */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Styliser les champs de formulaire */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Styliser le champ de téléchargement de fichier */
input[type="file"] {
    display: none;
}

.upload-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #0062cc;
}

.upload-label {
    font-size: 16px;
    margin-left: 10px;
}

/* Styliser le bouton Enregistrer */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0062cc;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-buttons button {
    margin-left: 10px;
}